interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.deezer.com/ajax/gw-light.php?api_version=1.0&api_token=null&input=3&method=deezer.getUserData
  response:
    body:
      string: '{"error":[],"results":{"USER":{"USER_ID":1231003,"USER_PICTURE":"828ca9d86bb0d8c63365cff0002167ab","INSCRIPTION_DATE":"2008-01-07","TRY_AND_BUY":{"AVAILABLE":false,"ACTIVE":"0","DATE_START":"2026-03-31
        09:35:39","DATE_END":"2027-03-31 09:35:39","PLATEFORM":"ogone","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":true,"mobile_streaming_duration":0,"mobile_offline":true,"mobile_sound_quality":{"low":true,"standard":true,"high":true,"lossless":true,"reality":true},"default_download_on_mobile_network":true,"mobile_hq":true,"mobile_lossless":true,"tablet_sound_quality":{"low":true,"standard":true,"high":true,"lossless":true,"reality":true},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":true,"web_streaming_duration":0,"web_offline":true,"web_hq":true,"web_lossless":true,"web_sound_quality":{"low":true,"standard":true,"high":true,"lossless":true,"reality":true},"license_token":"AAAAAmo9kp5qUVkepPVEkhTDisUBZO4_pU-WJt1rOljEuMfT508yDIjoLGIO3b0SjKKtI99QtLuyzHXY2XuaLavk8WJmaQ7sfDbKjZcXlb8F1EPqMj4oGcQTctTv6V2myLdy6epBB1ctHCgMUqLH1-YQCtXAxPBr2g","expiration_timestamp":1783716126,"license_country":"FR","ads_display":false,"ads_audio":false,"dj":false,"nb_devices":"3","multi_account":false,"multi_account_max_allowed":null,"radio_skips":0,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":"1","timestamp":1782420126,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":true,"streaming_group":"sub","queuelist_edition":true,"mobile_streaming_used":0,"web_streaming_used":0,"streaming_used":0,"ads":false,"multiaccount_max_children":0,"audio_qualities":{"mobile_download":["standard","standard","high"],"mobile_streaming":["standard","standard","high"],"wifi_download":["standard","high","high"],"wifi_streaming":["standard","high","high"]},"hq":false,"lossless":false,"offline":false,"preview":false,"radio":false,"streaming":false,"streaming_duration":0,"sound_quality":{"standard":true,"high":false,"lossless":false,"reality":false}},"AUDIO_SETTINGS":{"default_preset":"fast","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"standard","wifi_streaming":"standard","id":"fast","title":"Compacte","description":"Qualit\u00e9
        audio ajust\u00e9e pour r\u00e9duire l''utilisation des donn\u00e9es."},{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"\u00c9quilibr\u00e9e","description":"Qualit\u00e9
        audio optimis\u00e9e lorsque tu es connect\u00e9 au WiFi."},{"mobile_download":"high","mobile_streaming":"high","wifi_download":"high","wifi_streaming":"high","id":"quality","title":"Sup\u00e9rieure","description":"Meilleure
        qualit\u00e9 audio disponible."}],"connected_device_streaming_preset":"high"},"SETTING":{"site":{"player_fadein":0,"player_fadeout":0,"push_facebook":0,"player_shuffle":false,"edito_tag":6,"player_fade":0,"player_hq":true,"modal_feed":0,"livebar_state":"open","menu_folders":"{\"f_apps\":\"close\"}","push_lyrics":true,"nb_flowplayer_like_notification":3,"nb_flowplayer_dislike_notification":3,"player_audio_quality":"lossless","labs":{"ElectronUI":false,"HotKeys":true},"player_normalize":false,"player_repeat":0,"sort_profile_playlist":"DATE_UPDATE","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"display_confirm_discovery":0,"cast_audio_quality":"high"},"facebook":{"share_listen":false,"share_comment":false,"share_favourite":false,"share_loved":false,"share_share":true},"global":{"lang":"en","cookie_consent_string":"BOovPJyOtyT9kA7ABCFRC4iAAAAth7_______9______9uz_Ov_v_f__33e8__9v_l_7_-___u_-33d4u_1vf99yfm1-7etr3tp_87ues2_Xur__79__3z3_9pxP78k89r7337Ew_v-_v-b7JCON_Ig","language":"en","dark_mode":"on","happy_hour":"off","social":false,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":false,"onboarding":false,"onboarding_progress":0,"has_root_consent":0,"recommendation_country":"FR","has_joined_family":false,"explicit_level_forced":false,"has_already_tried_premium":false,"onboarding_musictogether":true,"onboarding_musictogether_progress":0,"accent_palette_identifier":"purple"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"location":{"city":"Saint-val\u00e9ry-en-caux","lat":49.86159896850586,"lon":0.7099999785423279,"source":"ip"},"google":{"share_share":true,"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"country_store":false},"newsletter":{"panel":true,"editor":false,"talk":false,"event":false,"game":false,"special_offer":false},"tips":{"add_to_library":false,"lyrics":0,"flow":false,"up_next":false,"playlist_assistant":true,"playlist_assistant_suggest":true,"player":false},"audio_quality_settings":{"download_on_mobile_network":false,"connected_device_streaming_preset":false,"preset":"fast"},"customer_message":{"conversion":{"properties":{"free":true},"display_count":2,"last_display":"2015-10-15"},"new_home":{"properties":{"other_displayed":true,"desktop_displayed":true},"display_count":2,"last_display":"2015-10-02"},"conversion_family_offer":{"date":"2016-12-01","nb_login":5},"conversion_family":{"ax504e50161a2dd3ce":true,"web":true,"tablet":true,"ax387ec2071686daec":true},"push_trialend_freexp":{"properties":[],"display_count":1,"last_display":"2017-12-04"},"whats_new_flow":{"is_eligible":true,"triggered":"2018-04-20"},"apprating_unsubscribed":{"last_display":"1760691741","display_count":2},"album_new_release":{"display_ts":1586010583,"next_release_ts":1586520000,"album_id":139017632},"churner":{"properties":[],"display_count":3,"last_display":"2020-05-11"},"conversion_pplus":{"desktop":{"seasonal_offer":"20200625"}},"usabilla_campaign":{"properties":[],"display_count":1,"last_display":"2021-07-17"},"login_without_password":{"properties":[],"display_count":1,"last_display":"2022-04-28"},"push_notification_activation_interstitial":{"properties":[],"display_count":1,"last_display":"2023-02-11"},"renewal_failed":{"properties":[],"display_count":2,"last_display":"2025-03-31"}},"beta_user":{"ios":false,"android":false,"windowsphone":false,"windows":false},"adjust":{"device":{"ax504e50161a2dd3ce":{"login":{"last_trigger":1447738865}},"ax387ec2071686daec":{"login":{"last_trigger":1486888848}},"axfec3068eb33f4256":{"login":{"last_trigger":1537541943}}},"first_stream_id":132196994,"devicesInfo":{"82462c24-882a-46c7-bfe2-5d2bbfa4ba17":{"identifier_type":"gps_adid"},"7dab1ca4-1723-460a-be64-8ef72411693b":{"identifier_type":"gps_adid"},"00000000-0000-0000-0000-000000000000":{"identifier_type":"gps_adid"}}},"ads":{"featurefm_token":{"token":"ad9494c4-6d6e-4192-ba40-bd7e7bf760c4","date":"2021-02-23
        22:17:03","api_url":"https:\/\/api.ffmapi.com\/"},"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"optin_mail":{"update":0,"special_offer":0,"social":0,"event":0,"third_party":0,"survey":1},"optin_push":{"update":0,"special_offer":1,"social":0,"event":0,"third_party":0,"survey":1},"optin_inapp":{"update":1,"special_offer":1,"social":1,"event":0,"third_party":0,"survey":1},"optin_sms":{"update":0,"special_offer":1,"social":1,"event":0,"third_party":0,"survey":0},"webviews":{"domain":false},"tracking":{"apppirate":{"app_version":"7.0.19.60","platform_name":"android","date":"2022-12-18"}},"partner":{"partner_ids":"[]"}},"LASTFM":{"TOKEN":"6f092bbd4f530664acedc9c9a41a7481"},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"APPLE":{},"FAVORITE_TAG":0,"ABTEST":{"triforce_queuelist_ui":{"id":"triforce_queuelist_ui","option":"default","behaviour":"Cloud
        based queue list deactivated","percent":100},"share_android_image_preview":{"id":"share_android_image_preview","option":"A","behaviour":"image
        preview sharing","percent":50},"module_library_abtest_qa":{"id":"module_library_abtest_qa","option":"B","behaviour":"switch
        module","percent":100},"poc_aampe":{"id":"poc_aampe","option":"control","behaviour":"Current
        behavior : no use of AI to personalize communications to users","percent":40}},"MULTI_ACCOUNT":{"ENABLED":true,"ACTIVE":false,"CHILD_COUNT":3,"MAX_CHILDREN":null,"PARENT":null,"IS_KID":false,"IS_SUB_ACCOUNT":false},"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"FR","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":1,"HARDBOUNCED_EMAIL":false,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"BLOG_NAME":"beretta_vexee","FIRSTNAME":"Guiral","LASTNAME":"Lacotte","USER_GENDER":"M","USER_AGE":"43","EMAIL":"guiral.lacotte@gmail.com","DEVICES_COUNT":1,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"235132341","OPTINS":{"channel":[{"name":"optin_push","label":"Notifications
        mobile","description":"Messages qui s''affichent sur ton mobile, m\u00eame
        lorsque l''application est ferm\u00e9e"},{"name":"optin_mail","label":"Emails","description":"Emails
        envoy\u00e9s \u00e0 l''adresse associ\u00e9e \u00e0 ton compte"},{"name":"optin_sms","label":"Messages
        texte","description":"Envoy\u00e9s par SMS au num\u00e9ro de t\u00e9l\u00e9phone
        associ\u00e9 \u00e0 ton compte"}],"group":[{"name":"music","label":"Musique","description":""},{"name":"podcasts","label":"Podcasts","description":"Pour
        le moment, les podcasts ne sont pas disponibles dans tous les pays."},{"name":"extras","label":"Extras","description":""}],"optin":[{"name":"edito_reco_music","label":"Recommandations
        musicales","description":"Derni\u00e8res d\u00e9couvertes de notre \u00e9quipe
        \u00e9ditoriale & contenus Deezer Originals exclusifs","channel":{"optin_push":true,"optin_sms":true,"optin_mail":true},"group":"music","channels_requiring_validation":[]},{"name":"algo_favorite_artists","label":"Artistes
        que j''aime","description":"Nouveaut\u00e9s & actualit\u00e9s des artistes
        que j''aime ou qui peuvent m''int\u00e9resser","channel":{"optin_push":true,"optin_sms":true,"optin_mail":true},"group":"music","channels_requiring_validation":[]},{"name":"algo_favorite_playlists","label":"Playlists
        que j''aime","description":"Mises \u00e0 jour & nouveaux titres des playlists
        que j''aime ou qui peuvent m''int\u00e9resse[...]
- request:
    body: '{"nb": 100, "start": 0, "checksum": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.deezer.com/ajax/gw-light.php?api_version=1.0&api_token=N6x1P~VmizINeEWd0RSgbtJ11kqQ-b8Y&input=3&method=song.getFavoriteIds
  response:
    body:
      string: '{"error":[],"results":{"data":[{"SNG_ID":"4298172","DATE_FAVORITE":1382275413,"__TYPE__":"song"},{"SNG_ID":"74137325","DATE_FAVORITE":1393307702,"__TYPE__":"song"},{"SNG_ID":"75578817","DATE_FAVORITE":1397332817,"__TYPE__":"song"},{"SNG_ID":"71080463","DATE_FAVORITE":1399482904,"__TYPE__":"song"},{"SNG_ID":"79907526","DATE_FAVORITE":1404633361,"__TYPE__":"song"},{"SNG_ID":"232197","DATE_FAVORITE":1422777788,"__TYPE__":"song"},{"SNG_ID":"69106335","DATE_FAVORITE":1443417025,"__TYPE__":"song"},{"SNG_ID":"67352944","DATE_FAVORITE":1447743202,"__TYPE__":"song"},{"SNG_ID":"100243534","DA[...]
[...]
- request:
    body: '{"nb": 100, "start": 400, "checksum": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.deezer.com/ajax/gw-light.php?api_version=1.0&api_token=N6x1P~VmizINeEWd0RSgbtJ11kqQ-b8Y&input=3&method=song.getFavoriteIds
  response:
    body:
      string: '{"error":[],"results":{"data":[{"SNG_ID":"1176249332","DATE_FAVORITE":1771514638,"__TYPE__":"song"},{"SNG_ID":"2469905245","DATE_FAVORITE":1772112748,"__TYPE__":"song"},{"SNG_ID":"3331271","DATE_FAVORITE":1774471730,"__TYPE__":"song"},{"SNG_ID":"1755705717","DATE_FAVORITE":1774764070,"__TYPE__":"song"},{"SNG_ID":"2329154","DATE_FAVORITE":1775372900,"__TYPE__":"song"},{"SNG_ID":"4006030211","DATE_FAVORITE":1781442095,"__TYPE__":"song"}],"count":6,"total":406,"filtered_count":0,"checksum":"165d6e8889ff941e912a0b6ecdd23063","playlist_id":"235132341"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-deezer-client-ip:
      - 86.247.87.21
      x-host:
      - blm-web-134
      x-org:
      - FR
    status:
      code: 200
      message: OK
- request:
    body: '{"nb": 100, "start": 406, "checksum": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.deezer.com/ajax/gw-light.php?api_version=1.0&api_token=N6x1P~VmizINeEWd0RSgbtJ11kqQ-b8Y&input=3&method=song.getFavoriteIds
  response:
    body:
      string: '{"error":[],"results":{"data":[],"count":0,"total":406,"filtered_count":0,"checksum":"165d6e8889ff941e912a0b6ecdd23063","playlist_id":"235132341"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-deezer-client-ip:
      - 86.247.87.21
      x-host:
      - blm-web-94
      x-org:
      - FR
    status:
      code: 200
      message: OK
version: 1
