interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search/track?q=comfortably+numb&index=0&limit=5
  response:
    body:
      string: '{"data":[{"id":116914122,"readable":true,"title":"Comfortably Numb","title_short":"Comfortably
        Numb","title_version":"","isrc":"GBN9Y1100113","link":"https:\/\/www.deezer.com\/track\/116914122","duration":382,"rank":849744,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdnt-preview.dzcdn.net\/api\/1\/1\/4\/3\/6\/0\/436032ec967e0282f468e9aaf8f1062b.mp3?hdnea=exp=1781953250~acl=\/api\/1\/1\/4\/3\/6\/0\/436032ec967e0282f468e9aaf8f1062b.mp3*~data=user_id=0,application_id=42~hmac=4b78084afb75a32776d89cb18cdb7b9b896b26430bd9f1de6897647713a72d4b","md5_image":"2bea643b92a8fc6b19a23756f718cbd4","artist":{"id":860,"name":"Pink
        Floyd","link":"https:\/\/www.deezer.com\/artist\/860","picture":"https:\/\/api.deezer.com\/artist\/860\/image","picture_small":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/d62a818a5de6455f17b6a992cf22b32f\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/d62a818a5de6455f17b6a992cf22b32f\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/d62a818a5de6455f17b6a992cf22b32f\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/d62a818a5de6455f17b6a992cf22b32f\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/860\/top?limit=50","type":"artist"},"album":{"id":12114248,"title":"The
        Wall","cover":"https:\/\/api.deezer.com\/album\/12114248\/image","cover_small":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/2bea643b92a8fc6b19a23756f718cbd4\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/2bea643b92a8fc6b19a23756f718cbd4\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/2bea643b92a8fc6b19a23756f718cbd4\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/2bea643b92a8fc6b19a23756f718cbd4\/1000x1000-000000-80-0-0.jpg","md5_image":"2bea643b92a8fc6b19a23756f718cbd4","tracklist":"https:\/\/api.deezer.com\/album\/12114248\/tracks","type":"album"},"type":"track"},{"id":410006652,"readable":true,"title":"Comfortably
        Numb (Live At Pompeii 2016)","title_short":"Comfortably Numb","title_version":"(Live
        At Pompeii 2016)","isrc":"GBLTP1700025","link":"https:\/\/www.deezer.com\/track\/410006652",[...]
