interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/track/77874822
  response:
    body:
      string: '{"id":77874822,"readable":true,"title":"Make Me Feel","title_short":"Make
        Me Feel","title_version":"","isrc":"GBHYE0000131","link":"https:\/\/www.deezer.com\/track\/77874822","share":"https:\/\/www.deezer.com\/track\/77874822?utm_source=deezer&utm_content=track-77874822&utm_term=0_1781952934&utm_medium=web","duration":357,"track_position":1,"disk_number":1,"rank":36972,"release_date":"2014-08-23","explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdnt-preview.dzcdn.net\/api\/1\/1\/f\/5\/6\/0\/f56fa3454a84a835ce8bd05bb9a52972.mp3?hdnea=exp=1781953834~acl=\/api\/1\/1\/f\/5\/6\/0\/f56fa3454a84a835ce8bd05bb9a52972.mp3*~data=user_id=0,application_id=42~hmac=b28a5cdfd00c1d7aa6f86c1357808deff6ef8717336b1973630f72b264021df0","bpm":87,"gain":-6.81,"available_countries":["AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BN","BO","BR","BT","BV","BW","BY","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FR","GA","GB","GD","GE","GH","GM","GN","GQ","GR","GS","GT","GU","GW","HK","HM","HN","HR","HU","ID","IE","IL","IN","IO","IQ","IR","IS","IT","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LK","LR","LS","LT","LU","LV","LY","MA","MD","ME","MG","MH","MK","ML","MM","MN","MP","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PG","PH","PK","PL","PN","PS","PT","PW","PY","QA","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SI","SJ","SK","SL","SN","SO","ST","SV","SY","SZ","TC","TD","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VC","VE","VG","VI","VN","VU","WS","YE","ZA","ZM","ZW"],"contributors":[{"id":276495,"name":"Total
        Science","link":"https:\/\/www.deezer.com\/artist\/276495","share":"https:\/\/www.deezer.com\/artist\/276495?utm_source=deezer&utm_content=artist-276495&utm_term=0_1781952934&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/276495\/image","picture_small":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/276495\/top?limit=50","type":"artist","role":"Main"}],"md5_image":"b8ec09b0c6ce32fc98227f0071b36041","track_token":"AAAAAWo2caZqN4rmBXEwW9xv2DA_OpRif0Lqb1Ui5_bZ8q5ohPDSccgkDtaLTUuFI197rWVDe1aQt-y1UxQLNPefyQvsU_sXEBx8Ph_LdsAXVz09L9KB2rgJ7qAaxO_EwQNC7A20jnNfRYRP8cJ4jvPxKtTSSJtdgq2oNDOBlJT56L4-Tv6nQ6DRRuRhGbMUWLnmr2GGh8cTKiW_fLIf3bkV-qn2HscVUSu2a92dr2APD0gpyxhvInbwz9tPCtRH4iaWTHW_M9rJZwh-NXjS9NFnzlkjk6Ndg5rDdnSoyHRQj_RyaCMUtzAwNS5E8_reDiZVDM3fGYc","artist":{"id":276495,"name":"Total
        Science","link":"https:\/\/www.deezer.com\/artist\/276495","share":"https:\/\/www.deezer.com\/artist\/276495?utm_source=deezer&utm_content=artist-276495&utm_term=0_1781952934&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/276495\/image","picture_small":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/276495\/top?limit=50","type":"artist"},"album":{"id":7740248,"title":"Make
        Me Feel EP","link":"https:\/\/www.deezer.com\/album\/7740248","cover":"https:\/\/api.deezer.com\/album\/7740248\/image","cover_small":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/1000x1000-000000-80-0-0.jpg","md5_image":"b8ec09b0c6ce32fc98227f0071b36041","release_date":"2000-12-23","tracklist":"https:\/\/api.deezer.com\/album\/7740248\/tracks","type":"album"},"type":"track"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-host:
      - blm-web-188
      x-org:
      - FR
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/album/7740248
  response:
    body:
      string: '{"id":7740248,"title":"Make Me Feel EP","upc":"5055201105820","link":"https:\/\/www.deezer.com\/album\/7740248","share":"https:\/\/www.deezer.com\/album\/7740248?utm_source=deezer&utm_content=album-7740248&utm_term=0_1781952934&utm_medium=web","cover":"https:\/\/api.deezer.com\/album\/7740248\/image","cover_small":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/1000x1000-000000-80-0-0.jpg","md5_image":"b8ec09b0c6ce32fc98227f0071b36041","genre_id":113,"genres":{"data":[{"id":113,"name":"Dance","picture":"https:\/\/api.deezer.com\/genre\/113\/image","type":"genre"}]},"label":"Computer
        Integrated Audio","nb_tracks":5,"duration":1781,"fans":27,"release_date":"2000-12-23","record_type":"ep","available":true,"tracklist":"https:\/\/api.deezer.com\/album\/7740248\/tracks","explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"contributors":[{"id":276495,"name":"Total
        Science","link":"https:\/\/www.deezer.com\/artist\/276495","share":"https:\/\/www.deezer.com\/artist\/276495?utm_source=deezer&utm_content=artist-276495&utm_term=0_1781952934&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/276495\/image","picture_small":"https:\/\/cdn-images.dzcdn.net\/im[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/album/7740248/tracks?index=0&limit=-1
  response:
    body:
      string: '{"data":[{"id":77874822,"readable":true,"title":"Make Me Feel","title_short":"Make
        Me Feel","title_version":"","isrc":"GBHYE0000131","link":"https:\/\/www.deezer.com\/track\/77874822","duration":357,"track_position":1,"disk_number":1,"rank":36972,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"pre[...]
