interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/track/77874822
  response:
    body:
      string: '{"id":77874822,"readable":true,"title":"Make Me Feel","title_short":"Make
        Me Feel","title_version":"","isrc":"GBHYE0000131","link":"https:\/\/www.deezer.com\/track\/77874822","share":"https:\/\/www.deezer.com\/track\/77874822?utm_source=deezer&utm_content=track-77874822&utm_term=0_1781952347&utm_medium=web","duration":357,"track_position":1,"disk_number":1,"rank":36972,"release_date":"2014-08-23","explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdnt-preview.dzcdn.net\/api\/1\/1\/f\/5\/6\/0\/f56fa3454a84a835ce8bd05bb9a52972.mp3?hdnea=exp=1781953247~acl=\/api\/1\/1\/f\/5\/6\/0\/f56fa3454a84a835ce8bd05bb9a52972.mp3*~data=user_id=0,application_id=42~hmac=0245e22a2cec9700b6864cffe3d484b482b4a479d74e2dbaf4bd54dfa9799790","bpm":87,"gain":-6.81,"available_countries":["AE","AF","AG","AI","AL","AM","AN","AO","AQ","AR","AS","AT","AU","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BN","BO","BR","BT","BV","BW","BY","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FR","GA","GB","GD","GE","GH","GM","GN","GQ","GR","GS","GT","GU","GW","HK","HM","HN","HR","HU","ID","IE","IL","IN","IO","IQ","IR","IS","IT","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LK","LR","LS","LT","LU","LV","LY","MA","MD","ME","MG","MH","MK","ML","MM","MN","MP","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PG","PH","PK","PL","PN","PS","PT","PW","PY","QA","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SI","SJ","SK","SL","SN","SO","ST","SV","SY","SZ","TC","TD","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VC","VE","VG","VI","VN","VU","WS","YE","ZA","ZM","ZW"],"contributors":[{"id":276495,"name":"Total
        Science","link":"https:\/\/www.deezer.com\/artist\/276495","share":"https:\/\/www.deezer.com\/artist\/276495?utm_source=deezer&utm_content=artist-276495&utm_term=0_1781952347&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/276495\/image","picture_small":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/276495\/top?limit=50","type":"artist","role":"Main"}],"md5_image":"b8ec09b0c6ce32fc98227f0071b36041","track_token":"AAAAAWo2b1tqN4ibcLY_YrFW3X_-b2TmrlRk2PhUafsJ_ZsgmanCWBt2qQmSaIVZkcaPnkMz_V7huNISfdro79j13w5EfdomooRIxTm_f5xGrlZiSNOahecw8f83NIJ-gp1gpb0XMdTwQyIPELBCcH0UxiUZ05-XzSPD1Zauqm0QcU2PTH4HAmzDRY1GQXm_yD-1-3x6CsnLlL8r79tjVGo5gmc0yARytGjZYf8SYxjcqCRhxK6yjkY3m8g0ERTp6tF3hFom_YAdzhIYKOmjrSainKB7YliKRxKa52_OOQRZ9XpVmsPJiaAUwVu06jmixw52MeEvzbQ","artist":{"id":276495,"name":"Total
        Science","link":"https:\/\/www.deezer.com\/artist\/276495","share":"https:\/\/www.deezer.com\/artist\/276495?utm_source=deezer&utm_content=artist-276495&utm_term=0_1781952347&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/276495\/image","picture_small":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/ba7dddb230d5856895847c09b279f186\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/276495\/top?limit=50","type":"artist"},"album":{"id":7740248,"title":"Make
        Me Feel EP","link":"https:\/\/www.deezer.com\/album\/7740248","cover":"https:\/\/api.deezer.com\/album\/7740248\/image","cover_small":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/b8ec09b0c6ce32fc98227f0071b36041\/1000x1000-000000-80-0-0.jpg","md5_image":"b8ec09b0c6ce32fc98227f0071b36041","release_date":"2000-12-23","tracklist":"https:\/\/api.deezer.com\/album\/7740248\/tracks","type":"album"},"type":"track"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-host:
      - blm-web-123
      x-org:
      - FR
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://www.deezer.com/ajax/gw-light.php?api_version=1.0&api_token=null&input=3&method=deezer.getUserData
  response:
    body:
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"<redacted>","expiration_timestamp":1783248348,"license_country":"FR","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1781952348,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"mobile_streaming_used":0,"web_streaming_used":0,"streaming_used":0,"ads":true,"multiaccount_max_children":0,"audio_qualities":{"mobile_download":["standard","standard","high"],"mobile_streaming":["standard","standard","high"],"wifi_download":["standard","high","high"],"wifi_streaming":["standard","high","high"]},"hq":false,"lossless":false,"offline":false,"preview":false,"radio":false,"streaming":false,"streaming_duration":0,"sound_quality":{"standard":true,"high":false,"lossless":false,"reality":false}},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"\u00c9quilibr\u00e9e","description":"Qualit\u00e9
        audio optimis\u00e9e lorsque tu es connect\u00e9 au WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"system","accent_palette_identifier":"","onboarding":false,"onboarding_progress":0,"onboarding_musictogether":true,"onboarding_musictogether_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"FR","has_joined_family":false,"has_already_tried_premium":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false,"country_store":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"webviews":{"domain":false},"tracking":[],"partner":{"partner_ids":"[]"}},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"APPLE":{},"FAVORITE_TAG":0,"ABTEST":{"share_android_image_preview":{"id":"share_android_image_preview","option":"A","behaviour":"image
        preview sharing","percent":50},"inspired_by_global_clustering":{"id":"inspired_by_global_clustering","option":"B","behaviour":"use
        global clustering","percent":100},"module_library_abtest_qa":{"id":"module_library_abtest_qa","option":"B","behaviour":"switch
        module","percent":100},"poc_aampe":{"id":"poc_aampe","option":"aampe","behaviour":"Using
        AI to personalize communications to users","percent":60}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"FR","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":1,"HARDBOUNCED_EMAIL":false,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"0","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"fr","SETTING_LOCALE":"fr-FR","DIRECTION":"ltr","SESSION_ID":"<redacted>","USER_TOKEN":"<redacted>","PLAYLIST_WELCOME_ID":"53362031","OFFER_ID":0,"OFFER_NAME":"Deezer
        Gratuit","OFFER_ELIGIBILITIES":[],"COUNTRY":"FR","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1781952348,"PLAYER_TOKEN":"<redacted>","checkForm":".QL1dgXokcJlxh2MRxm8WdGTnd90O-f_","FROM_ONBOARDING":"false","CUSTO":"","SETTING_REFERER_UPLOAD":"FR","REG_FLOW":["email"],"LOGIN_FLOW":["email"],"__DZR_GATEKEEPS__":{"audiobook_favorites_sync_write":true,"audiobook_author_favorites_sync_write":true,"audiobook_on_deck_sync_write":true,"audiobook_data_sync_read":true,"secured_change_password":true,"secured_change_email":true,"register_no_emoji":true,"gender_nonbinary":true,"new_social_connect_errors":true,"ad_check_flag_show_is_advertising_allowed":true,"adblock_bait_file":true,"ad_display_hubvisor":true,"vast_impression_at_2s":true,"ad_audio_break_hubvisor":true,"ad_audio_break_vast_audio":true,"auth_ui_integration":true,"appcusto_subscription_renewal":true,"appcusto_homepod_settings":true,"recaptcha_signup":true,"recaptcha_login":true,"cdp_item_added_to_collection":true,"cdp_authentication_started":true,"cdp_search_trendings":true,"cdp_play_clicked":true,"activate_segment":true,"cdp_player_item_clicked":true,"tcfv2_consent_screen_webview":true,"disable_conversion_boxes_family":true,"family_b2c":true,"haas_project":true,"block_braze_in_app_search":true,"fetch_on_background_queue":true,"inbox_v0":true,"metric.merged_uniq_id":true,"metric.mparticle.tracking_migration":true,"metric.auth_vitals":true,"metric.timetocaptcha":true,"metric.account_vitals":true,"metric.payment.in_app_purchase":true,"metric.ads.monitoring":true,"metric.mobile_webviews.monitoring":true,"metric.app_rating.monitoring":true,"activate_mparticle_unauthenticated_event":true,"restricted_shuffle":true,"feature_2025_ai_label":true,"linear_track_preview_album_page":true,"public_api_album":true,"api_mob_ssl":true,"artist_video":true,"artist_highlight":true,"linear_track_preview_artist_page":true,"public_api_visible_test":true,"artist_page_albums_sorted_by_rank":true,"concerts_hub":true,"public_api_concert":true,"dark_mode":true,"datagrid_refacto":true,"dynamic_page_v21":true,"dynamic_pages_sponsored_items":true,"dynamic_calculated_smartcache":true,"christmas_easter_egg_player":true,"open_explicit_display":true,"family_profile_migration":true,"family_picker_with_sub_accounts":true,"family_account_invitation":true,"mymusic_recently_played":true,"mymusic_display_dislikes":true,"mymusic_masthead":true,"mymusic_nodatas":true,"mymusic_tests_2016aug":true,"artist_page_favorite_content":true,"flow_in_homepage":true,"tuner_flow_config":true,"feature_2025_flow_custo":true,"close_block_feature":true,"remove_lasttab":true,"library_importer_tmm":true,"display_competitor_logos_tmm":true,"livestream_page":true,"lyrics_refacto":true,"lyrics_report_problem":true,"batch_requests":true,"use_media_service":true,"metric.dynamic_page_loading":true,"metric.dynamic_content.screen_view":true,"metric.dynamic_content.item_clicked":true,"metric.dynamic_content.view_all_clicked":true,"metric.dynamic_content.play_clicked":true,"metric.playlist_page_loading":true,"metric.favorite_tracks_page_loading":true,"metric.deezer_story.loading":true,"metric.media_request_errors":true,"metric.playback_errors":true,"music_together":true,"music_together_join":true,"music_together_create":true,"music_together_relive":true,"navbar_partnerlogo":true,"feature_2026_favorite_entrypoint":true,"android_pipe_selected_artist_onboarding":true,"onboarding_artists":true,"launch_onboarding":true,"onboarding_channels":true,"change_chunk_size":true,"gapless_playback":true,"volume_normalization":true,"linear_track_preview_playlist_page":true,"feature_2025_playlist_cover":true,"feature_2025_add_to_playlist_is_track_in_playlist":true,"feature_2025_loved_tracks_cover_custo":true,"talk":true,"tab_podcast":true,"talk_latest_playlist":true,"podcast_notifications_disabled":true,"latest_episodes":true,"recommendation_country":true,"feature_2025_algo_settings":true,"network_status_bar":true,"revamp2023":true,"search_autocorrect":true,"search_query_suggestions":true,"trending_queries":true,"search_remove_duplicates_track":true,"search_instant_search":true,"search_refacto_2024":true,"explicit_user_settings":true,"feature_2025_accent_color":true,"share_facebook_story":true,"universal_link_sharing":true,"feature_2025_universal_link_sharing_playlist":true,"single_instance_playback_relive":true,"public_api_track":true,"unlimited_favorite_tracks":true,"unlimited_favorite_tracks_parallel_fetch":true,"android_auto":true,"conversion_entrypoints_ng":true,"electron_html5_playback":true,"filter_content_for_verified_artists":true,"fnac_migration":true,"GDPR":true,"multi_account":true,"multi_account_subscribe":true,"native_reg_wp":true,"notification_center":true,"onboarding_handle_genre":true,"player_ng":true,"up_next":true,"sso_partner_banner":true,"siri_platform_service":true},"thirdParty":{"facebook":{"appData":{"id":241284008322,"namespace":"deezer-app","scope":"email,user_birthday","version":"17.0","channel":"http:\/\/www.deezer.com\/fbgateway.html"},"lang":"fr_FR"},"googleplus":{"appData":{"client_id":"630457285321-d5nmkpnjktjoeh426nvdu40rch1b1qe0.apps.googleusercontent.com","client_key":"AIzaSyC27tg4VNAkkQ-9P4fY45vUEfeYGSbDz_o","name":"Deezer","scope":"https:\/\/www.googleapis.com\/auth\/userinfo.profile
        https:\/\/www.googleapis.com\/auth\/userinfo.email https:\/\/www.googleapis.com\/auth\/user.emails.read
        https:\/\/www.googleapis.com\/auth\/user.birthday.read","redirect_uri":"postmessage","access_type":"offline","cookie_policy":"single_host_origin","request_visible_actions":"http:\/\/schemas.google.com\/AddActivity
        http:\/\/schemas.google.com\/ListenActivity http:\/\/schemas.google.com\/CommentActivity","version":"v1"}},"braze":{"apiKey":"<redacted>","isAvailable":true}},"URL_MEDIA":"https:\/\/media.deezer.com","GAIN":{"TARGET":"-15","ADS":"-13"},"checkFormLogin":"hf7quRWal_i1hB0QbrIDRGgCvsTVAYgx"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-deezer-client-ip:
      - 86.247.87.21
      x-host:
      - blm-web-13
      x-org:
      - FR
    status:
      code: 200
      message: OK
- request:
    body: '{"SNG_ID": "77874822"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://www.deezer.com/ajax/gw-light.php?api_version=1.0&api_token=.QL1dgXokcJlxh2MRxm8WdGTnd90O-f_&input=3&method=song.getData
  response:
    body:
      string: '{"error":[],"results":{"ALB_ID":"7740248","ALB_PICTURE":"b8ec09b0c6ce32fc98227f0071b36041","ALB_TITLE":"Make
        Me Feel EP","ARTISTS":[{"ART_ID":"276495","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"0","ART_NAME":"Total
        Science","ARTIST_IS_DUMMY":false,"ART_PICTURE":"ba7dddb230d5856895847c09b279f186","RANK":"255592","LOCALES":{"lang_en":{"name":"Total
        Science"}},"__TYPE__":"artist"}],"ART_ID":"276495","ART_NAME":"Total Science","ARTIST_IS_DUMMY":false,"DIGITAL_RELEASE_DATE":"2014-08-23","DISK_NUMBER":"1","DURATION":"357","EXPLICIT_LYRICS":"0","EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":0,"EXPLICIT_COVER_STATUS":2},"GENRE_ID":"27","HIERARCHICAL_TITLE":"","ISRC":"GBHYE0000131","LYRICS_ID":0,"PHYSICAL_RELEASE_DATE":"2014-08-23","PROVIDER_ID":"157","RANK":"36972","SMARTRADIO":0,"SNG_CONTRIBUTORS":[],"SNG_ID":"77874822","SNG_TITLE":"Make
        Me Feel","STATUS":1,"TRACK_NUMBER":"1","USER_ID":0,"VERSION":"","FILESIZE_AAC_64":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_MISC":"0","FILESIZE_MP3_128":"5713128","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"5713128","GAIN":"-6.81","MEDIA_VERSION":"0","TRACK_TOKEN":"AAAAAWo2b1xqN4ic7s0GKzStx0DtSC5RBoyvV2oUuHk6yId83sZ_5096nTBbzvnhiLqQ6DYL_dEhdfnk-gflt-Cj94ErfdJwRfO7C8wT6eegCfaB8X5Ubmh0dmGBNAXKbCglGeUx-ROJm0Z7kt8eG8owT2O4MiCmK6nrexl5X9WYIkMovy6Uz_lRQpSbP-SK788G39TzIPYa-x94er-xeNdHX5_X69uqFiKazG5S8mB_Wm8KIYmfPOJufpJfPuYU7W2L3snapS4EhYrQnuyDfBPkPpTNOYvI8848cKcdQ_gACVn7bfgtS9QB86mXduYpGjsVLjpnAnk","TRACK_TOKEN_EXPIRE":1782024348,"MEDIA":[{"TYPE":"preview","HREF":"http:\/\/cdnt-preview.dzcdn.net\/api\/1\/1\/f\/5\/6\/0\/f56fa3454a84a835ce8bd05bb9a52972.mp3?hdnea=exp=1781953248~acl=\/api\/1\/1\/f\/5\/6\/0\/f56fa3454a84a835ce8bd05bb9a52972.mp3*~data=user_id=0,application_id=42~hmac=9b21916e66f876d1ba55748eea0ece5e4a65e61bad586c79f07c4ad0ea2784ac"}],"RIGHTS":{"STREAM_ADS_AVAILABLE":true,"STREAM_ADS":"2000-01-01","STREAM_SUB_AVAILABLE":true,"STREAM_SUB":"2000-01-01"},"__TYPE__":"song"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-deezer-client-ip:
      - 86.247.87.21
      x-host:
      - blm-web-85
      x-org:
      - FR
    status:
      code: 200
      message: OK
version: 1
