interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://www.deezer.com/ajax/gw-light.php?api_version=1.0&api_token=null&input=3&method=deezer.getUserData
  response:
    body:
      string: '{"error":[],"results":{"USER":{"USER_ID":0,"USER_PICTURE":"","INSCRIPTION_DATE":"","TRY_AND_BUY":{"AVAILABLE":true,"ACTIVE":"0","DATE_START":"0000-00-00
        00:00:00","DATE_END":"0000-00-00 00:00:00","PLATEFORM":"none","DAYS_LEFT_MOB":0},"PARTNERS":"0","TOOLBAR":[],"OPTIONS":{"mobile_preview":true,"mobile_radio":true,"mobile_streaming":false,"mobile_streaming_duration":0,"mobile_offline":false,"mobile_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"default_download_on_mobile_network":false,"mobile_hq":false,"mobile_lossless":false,"tablet_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"audio_quality_default_preset":"fast","web_preview":true,"web_radio":true,"web_streaming":false,"web_streaming_duration":0,"web_offline":false,"web_hq":false,"web_lossless":false,"web_sound_quality":{"low":true,"standard":true,"high":false,"lossless":false,"reality":false},"license_token":"AAAAAmo2cadqSjgn82wxbvfIfnpXWvO6HG5clA8AUe2ZUMGB-aSA_gJIm2IYzU4Sll263v5gzMFT8cOdFbEGyHkabX0uAZdEAgzKwFsX","expiration_timestamp":1783248935,"license_country":"FR","ads_display":true,"ads_audio":true,"dj":false,"nb_devices":0,"multi_account":false,"multi_account_max_allowed":1,"radio_skips":6,"too_many_devices":false,"business":false,"business_mod":false,"business_box_owner":false,"business_box_manager":false,"business_box":false,"business_no_right":false,"allow_subscription":false,"allow_trial_mobile":true,"timestamp":1781952935,"can_subscribe":false,"can_subscribe_family":false,"show_subscription_section":false,"streaming_group":"ads","queuelist_edition":false,"mobile_streaming_used":0,"web_streaming_used":0,"streaming_used":0,"ads":true,"multiaccount_max_children":0,"audio_qualities":{"mobile_download":["standard","standard","high"],"mobile_streaming":["standard","standard","high"],"wifi_download":["standard","high","high"],"wifi_streaming":["standard","high","high"]},"hq":false,"lossless":false,"offline":false,"preview":false,"radio":false,"streaming":false,"streaming_duration":0,"sound_quality":{"standard":true,"high":false,"lossless":false,"reality":false}},"AUDIO_SETTINGS":{"default_preset":"balanced","default_download_on_mobile_network":false,"presets":[{"mobile_download":"standard","mobile_streaming":"standard","wifi_download":"high","wifi_streaming":"high","id":"balanced","title":"\u00c9quilibr\u00e9e","description":"Qualit\u00e9
        audio optimis\u00e9e lorsque tu es connect\u00e9 au WiFi."}],"connected_device_streaming_preset":"standard"},"SETTING":{"global":{"language":"","social":true,"popup_unload":false,"filter_explicit_lyrics":false,"is_kid":false,"has_up_next":true,"dark_mode":"system","accent_palette_identifier":"","onboarding":false,"onboarding_progress":0,"onboarding_musictogether":true,"onboarding_musictogether_progress":0,"cookie_consent_string":"","has_root_consent":0,"happy_hour":"","recommendation_country":"FR","has_joined_family":false,"has_already_tried_premium":false,"explicit_level_forced":false},"site":{"livebar_state":"close","livebar_tab":"ticker","push_mobile":0,"howto_step":0,"edito_tag":0,"display_confirm_discovery":0,"cast_audio_quality":"standard"},"twitter":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_share":true},"facebook":{"share_comment":true,"share_favourite":true,"share_loved":true,"share_listen":true,"share_share":true},"google":{"share_comment":false,"share_favourite":false,"share_loved":false,"share_listen":false,"share_share":false,"country_store":false},"notification_mail":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"notification_mobile":{"share":false,"friend_follow":false,"playlist_comment":false,"playlist_follow":false,"artist_new_release":false,"artist_status":false,"new_message":false},"newsletter":{"editor":false,"talk":false,"event":false,"game":false,"special_offer":false,"panel":false},"optin_mail":[],"optin_push":[],"optin_inapp":[],"optin_sms":[],"tips":{"player":false,"flow":true,"add_to_library":true,"lyrics":2,"up_next":true},"audio_quality_settings":{"preset":"fast","download_on_mobile_network":false,"connected_device_streaming_preset":false},"customer_message":[],"mobile_message":[],"adjust":[],"abtest":[],"ads":{"test_format":false,"force_adsource":"auto","force_mediation":"auto"},"webviews":{"domain":false},"tracking":[],"partner":{"partner_ids":"[]"}},"LASTFM":{},"TWITTER":{},"FACEBOOK":{},"GOOGLEPLUS":{},"APPLE":{},"FAVORITE_TAG":0,"ABTEST":{"share_android_image_preview":{"id":"share_android_image_preview","option":"A","behaviour":"image
        preview sharing","percent":50},"inspired_by_global_clustering":{"id":"inspired_by_global_clustering","option":"B","behaviour":"use
        global clustering","percent":100},"module_library_abtest_qa":{"id":"module_library_abtest_qa","option":"B","behaviour":"switch
        module","percent":100},"poc_aampe":{"id":"poc_aampe","option":"aampe","behaviour":"Using
        AI to personalize communications to users","percent":60}},"MULTI_ACCOUNT":[],"ONBOARDING_MODAL":false,"ADS_OFFER":"0","ENTRYPOINTS":{},"ADS_TEST_FORMAT":"","NEW_USER":false,"CONSENT_STRING":[],"RECOMMENDATION_COUNTRY":"FR","CAN_BE_CONVERTED_TO_INDEPENDENT":false,"IS_FREEMIUM_COUNTRY":1,"HARDBOUNCED_EMAIL":false,"EXPLICIT_CONTENT_LEVEL":"explicit_display","EXPLICIT_CONTENT_LEVELS_AVAILABLE":["explicit_display","explicit_no_recommendation","explicit_hide"],"CAN_EDIT_EXPLICIT_CONTENT_LEVEL":true,"DEVICES_COUNT":0,"HAS_UPNEXT":true,"LOVEDTRACKS_ID":"0","OPTINS":{"channel":[],"optin":[],"group":[]}},"SETTING_LANG":"fr","SETTING_LOCALE":"fr-FR","DIRECTION":"ltr","SESSION_ID":"fr890abed69dce7f2b109240f7720c2bf22b74e3","USER_TOKEN":"3f98bd1240ecd18d0da30b53d1068d2c85c7d15c194e04c3701d715661adaba2babb6e5a0e831fd2519ce4206b687405b35eb5d85cd10ca307ea1a9f","PLAYLIST_WELCOME_ID":"53362031","OFFER_ID":0,"OFFER_NAME":"Deezer
        Gratuit","OFFER_ELIGIBILITIES":[],"COUNTRY":"FR","COUNTRY_CATEGORY":"default","MIN_LEGAL_AGE":16,"FAMILY_KIDS_AGE":12,"SERVER_TIMESTAMP":1781952935,"PLAYER_TOKEN":"efe9c1fc6ce01008fc3d72318dbe312df61b6c069be7103be2e28347bc39fb457adb2e9a12ce020b234e7cebaece774be421248df18a11c2389c58cb6615d33a2149ec9bfbe97241fa01945ed5b6bde2b4d28d39a4cc40a0ade4b8895709c979365dddc9c2a0dd9a75255551416c587e469ca0801ab5c39f4f7f0c678cc6cdb0597f657042f4f37003883e954679e8fd492cace4d573d05a8faf5a253f9a51058359be42ba30bb85868d1c71fb791b2482e783d0c9e113e8652af9cd305fa3a4fa933fbe82981a2f2ab402315736120b16b9e99ec3b017638d840d94ed882b3e9fd1faaf3fa3aa4fb1c3ed65cfb4d1b0cc629c419969741e1928c77b8d97b1e2c165e68c82a1bde1e0eaa30fb69dc5b9cc629c419969741e1928c77b8d97b1e261beb2d4ef88f0a9be7b67a355a0ab5bbac1b4f1be999e6f8f25450f9e162c7e35836f6c86833b16f2fbf3b343e5b2b1be6a07612ca11ac34171a1c8f9a58e8a9ddf42e4c234b313b30b035f914fdc02186bff214fac9af33279b7ad39f90e36f5ebf7c13b03037e5e314b633a93d673d6dcf5b98f963b5003a0ca22898dc9d4cb29994bd3d2a9b86770c78f521c8bfa267aa933961870f10fc520395c0c9c0d90081eb82a0922b21b78a253bbe18ab788a358fe36b2e875de7863d4a13a8f36b52a5d5d70590279d9ef0acc096275b65aefe345e9d8b721d75b87ac6908d72394cb065779b4f93013ebe53e1bea396977b9496208dbfdd5eb1c61c5ca44c4ce702255b566834f927b34666e6eab9d9df2f2ebb3fa18f0e1274aaf5fc88e7b92ecc8bbd4ff3002f69ec474f92efa669435eac5a406f4586b1b1fa391461f8c09e07483e06f73ee741c4be5c1209697df7a13ec6969f563a9b9e319436542544e14bc2e48929b0e988f7bbb62525eaba0aeb6975cba6b9c138d02228b79af8400ea9db6ad4b891e4854ec3355bf3f0628ff6255053bed791e138aaa0bdcea57ab5e2940bd2d4ce2daa7a7afb7cf8f78a1de86a86f87b287de7b635f7e0e34889f","checkForm":"dN6HGMNv-D0g49HbvJ_8suHkArpa7JYE","FROM_ONBOARDING":"false","CUSTO":"","SETTING_REFERER_UPLOAD":"FR","REG_FLOW":["email"],"LOGIN_FLOW":["email"],"__DZR_GATEKEEPS__":{"audiobook_favorites_sync_write":true,"audiobook_author_favorites_sync_write":true,"audiobook_on_deck_sync_write":true,"audiobook_data_sync_read":true,"secured_change_password":true,"secured_change_email":true,"register_no_emoji":true,"gender_nonbinary":true,"new_social_connect_errors":true,"ad_check_flag_show_is_advertising_allowed":true,"adblock_bait_file":true,"ad_display_hubvisor":true,"vast_impression_at_2s":true,"ad_audio_break_hubvisor":true,"ad_audio_break_vast_audio":true,"auth_ui_integration":true,"appcusto_subscription_renewal":true,"appcusto_homepod_settings":true,"recaptcha_signup":true,"recaptcha_login":true,"cdp_item_added_to_collection":true,"cdp_authentication_started":true,"cdp_search_trendings":true,"cdp_play_clicked":true,"activate_segment":true,"cdp_player_item_clicked":true,"tcfv2_consent_screen_webview":true,"disable_conversion_boxes_family":true,"family_b2c":true,"haas_project":true,"block_braze_in_app_search":true,"fetch_on_background_queue":true,"inbox_v0":true,"metric.merged_uniq_id":true,"metric.mparticle.tracking_migration":true,"metric.auth_vitals":true,"metric.timetocaptcha":true,"metric.account_vitals":true,"metric.payment.in_app_purchase":true,"metric.ads.monitoring":true,"metric.mobile_webviews.monitoring":true,"metric.app_rating.monitoring":true,"activate_mparticle_unauthenticated_event":true,"restricted_shuffle":true,"feature_2025_ai_label":true,"linear_track_preview_album_page":true,"public_api_album":true,"api_mob_ssl":true,"artist_video":true,"artist_highlight":true,"linear_track_preview_artist_page":true,"public_api_visible_test":true,"artist_page_albums_sorted_by_rank":true,"concerts_hub":true,"public_api_concert":true,"dark_mode":true,"datagrid_refacto":true,"dynamic_page_v21":true,"dynamic_pages_sponsored_items":true,"dynamic_calculated_smartcache":true,"christmas_easter_egg_player":true,"open_explicit_display":true,"family_profile_migration":true,"family_picker_with_sub_accounts":true,"family_account_invitation":true,"mymusic_recently_played":true,"mymusic_display_dislikes":true,"mymusic_masthead":true,"mymusic_nodatas":true,"mymusic_tests_2016aug":true,"artist_page_favorite_content":true,"flow_in_homepage":true,"tuner_flow_config":true,"feature_2025_flow_custo":true,"close_block_feature":true,"remove_lasttab":true,"library_importer_tmm":true,"display_competitor_logos_tmm":true,"livestream_page":true,"lyrics_refacto":true,"lyrics_report_problem":true,"batch_requests":true,"use_media_service":true,"metric.dynamic_page_loading":true,"metric.dynamic_content.screen_view":true,"metric.dynamic_content.item_clicked":true,"metric.dynamic_content.view_all_clicked":true,"metric.dynamic_content.play_clicked":true,"metric.playlist_page_loading":true,"metric.favorite_tracks_page_loading":true,"metric.deezer_story.loading":true,"metric.media_request_errors":true,"metric.podcastdownload":true,"metric.playback_errors":true,"music_together":true,"music_together_join":true,"music_together_create":true,"music_together_relive":true,"navbar_partnerlogo":true,"feature_2026_favorite_entrypoint":true,"android_pipe_selected_artist_onboarding":true,"onboarding_artists":true,"launch_onboarding":true,"onboarding_channels":true,"change_chunk_size":true,"gapless_playback":true,"volume_normalization":true,"linear_track_preview_playlist_page":true,"feature_2025_playlist_cover":true,"feature_2025_add_to_playlist_is_track_in_playlist":true,"feature_2025_loved_tracks_cover_custo":true,"talk":true,"tab_podcast":true,"talk_latest_playlist":true,"podcast_notifications_disabled":true,"latest_episodes":true,"recommendation_country":true,"feature_2025_algo_settings":true,"network_status_bar":true,"revamp2023":true,"search_autocorrect":true,"search_query_suggestions":true,"trending_queries":true,"search_remove_duplicates_track":true,"search_instant_search":true,"search_refacto_2024":true,"explicit_user_settings":true,"feature_2025_accent_color":true,"share_facebook_story":true,"universal_link_sharing":true,"feature_2025_universal_link_sharing_playlist":true,"single_instance_playback_relive":true,"public_api_track":true,"unlimited_favorite_tracks":true,"unlimited_favorite_tracks_parallel_fetch":true,"android_auto":true,"conversion_entrypoints_ng":true,"electron_html5_playback":true,"filter_content_for_verified_artists":true,"fnac_migration":true,"GDPR":true,"multi_account":true,"multi_account_subscribe":true,"native_reg_wp":true,"notification_center":true,"onboarding_handle_genre":true,"player_ng":true,"up_next":true,"sso_partner_banner":true,"siri_platform_service":true},"thirdParty":{"facebook":{"appData":{"id":241284008322,"namespace":"deezer-app","scope":"email,user_birthday","version":"17.0","channel":"http:\/\/www.deezer.com\/fbgateway.html"},"lang":"fr_FR"},"googleplus":{"appData":{"client_id":"630457285321-d5nmkpnjktjoeh426nvdu40rch1b1qe0.apps.googleusercontent.com","client_key":"AIzaSyC27tg4VNAkkQ-9P4fY45vUEfeYGSbDz_o","name":"Deezer","scope":"https:\/\/www.googleapis.com\/auth\/userinfo.profile
        https:\/\/www.googleapis.com\/auth\/userinfo.email https:\/\/www.googleapis.com\/auth\/user.emails.read
        https:\/\/www.googleapis.com\/auth\/user.birthday.read","redirect_uri":"postmessage","access_type":"offline","cookie_policy":"single_host_origin","request_visible_actions":"http:\/\/schemas.google.com\/AddActivity
        http:\/\/schemas.google.com\/ListenActivity http:\/\/schemas.google.com\/CommentActivity","version":"v1"}},"braze":{"apiKey":"5ba97124-1b79-4acc-86b7-9547bc58cb18","isAvailable":true}},"URL_MEDIA":"https:\/\/media.deezer.com","GAIN":{"TARGET":"-15","ADS":"-13"},"checkFormLogin":"ha~MsEAy.vZ.NQvAjfR_vegzvY-wQl1s"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-deezer-client-ip:
      - 86.247.87.21
      x-host:
      - blm-web-177
      x-org:
      - FR
    status:
      code: 200
      message: OK
- request:
    body: '{"PLAYLIST_ID": "1116189381", "lang": "en", "header": true, "tab": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: http://www.deezer.com/ajax/gw-light.php?api_version=1.0&api_token=dN6HGMNv-D0g49HbvJ_8suHkArpa7JYE&input=3&method=deezer.pagePlaylist
  response:
    body:
      string: '{"error":[],"results":{"DATA":{"PLAYLIST_ID":"1116189381","TITLE":"Top
        Russia","TITLE_SEO":"Top Russia","TYPE":"5","STATUS":0,"PARENT_PLAYLIST_ID":"1116189381","PARENT_USER_ID":"637006841","PARENT_USERNAME":"Deezer
        Charts","PARENT_USER_PICTURE":"63d967d09a48005fbf37464a4ee39405","DESCRIPTION":"","PLAYLIST_PICTURE":"d8e51bb32d54640cc650cbcb508b8b75","PICTURE_TYPE":"playlist","DURATION":1563,"NB_SONG":8,"CHECKSUM":"76a1defc28a213018583356de0c2c6b1","NB_FAN":532547,"DATE_ADD":"2026-06-20
        07:52:07","DATE_MOD":"2026-06-20 07:52:07","HAS_ARTIST_LINKED":false,"IS_SPONSORED":false,"__TYPE__":"playlist","IS_FAVORITE":false},"COMMENTS":{"data":[],"count":0,"total":0},"CURATOR":true,"SONGS":{"data":[{"SNG_ID":"110886120","PRODUCT_TRACK_ID":"302269211","UPLOAD_ID":0,"SNG_TITLE":"\u041e\u0442\u043f\u0443\u0441\u0442\u0438
        \u043c\u0435\u043d\u044f","ART_ID":"1658933","PROVIDER_ID":"336","ART_NAME":"Serebro","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"1658933","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"0","ART_NAME":"Serebro","ARTIST_IS_DUMMY":false,"ART_PICTURE":"d2938486410961d6ee3740f5a182f712","RANK":"538002","LOCALES":{"lang_en":{"name":"Serebro"},"lang_el-ell":{"name":"Serebro"},"lang_ja-hrkt":{"name":"\u30bb\u30ec\u30d6\u30ed"},"lang_ja-jpan":{"name":"\u30bb\u30ec\u30d6\u30ed"}},"SMARTRADIO":1,"__TYPE__":"artist"}],"ALB_ID":"11532158","ALB_TITLE":"\u041e\u0442\u043f\u0443\u0441\u0442\u0438
        \u043c\u0435\u043d\u044f","TYPE":0,"VIDEO":false,"DURATION":"233","ALB_PICTURE":"d69d89c1ef2f958501e1ee10da7ece79","ART_PICTURE":"d2938486410961d6ee3740f5a182f712","RANK_SNG":"539112","FILESIZE_AAC_64":"0","FILESIZE_AC4_IMS":"0","FILESIZE_DD_JOC":"0","FILESIZE_MP3_64":"0","FILESIZE_MP3_MISC":"0","FILESIZE_MP3_128":"3726941","FILESIZE_MP3_256":"0","FILESIZE_MP3_320":"0","FILESIZE_MP4_RA1":"0","FILESIZE_MP4_RA2":"0","FILESIZE_MP4_RA3":"0","FILESIZE_MHM1_RA1":"0","FILESIZE_MHM1_RA2":"0","FILESIZE_MHM1_RA3":"0","FILESIZE_FLAC":"0","FILESIZE":"3726941","GAIN":"-6.8","MEDIA_VERSION":"5","DISK_NUMBER":"1","TRACK_NUMBER":"1","TRACK_TOKEN":"AAAAAWo2cadqN4rnmMXXUFKV1pI_YjP5VZ3fR7H2Mx8SMj5ADB2PAzAH1KRAmb7l7LvlkVjS7We6b0AyXzBO9U7l1JMVIX8QxCMuu0zF1e0jW3n2XJLprJ-HsjzRmAbbz8_iV18qVfh9f5y242S6roZUB_q4B46PK-SrI1g-ErPkIqbhMydLWaqTI6TbVFkjvACLYTFrcRaBgzbZVmTAGYVoZ1XsmFa0Ma4XTBPnEIiuMJkBCU-tAA2VSyO68xBgGZMmDVPUuuStWOu32YkJYofMNsiN7uPqC2BZupzVxe560LGrne1q_Ucca3ep-7dLmKCqgRVgawUDus93r-8tVhbPOmbWp0CFfPuhgNK78K5zhQUyiAm7gRn9S2oZ9VNFjuji2ztqPn4X79uJ1FxaKiAPzRS_cnNhn4yRxNr31JJLWEg0z-aeGy4","TRACK_TOKEN_EXPIRE":1782024935,"VERSION":"","MEDIA":[{"TYPE":"preview","HREF":"http:\/\/cdnt-preview.dzcdn.net\/api\/1\/1\/2\/e\/5\/0\/2e52f29105d1125de2bb7798679406c9.mp3?hdnea=exp=1781953835~acl=\/api\/1\/1\/2\/e\/5\/0\/2e52f29105d1125de2bb7798679406c9.mp3*~data=user_id=0,application_id=42~hmac=c163c62f8e94fa6c9146112499a700f7025c319daf7814eef23d46b96b071261"}],"EXPLICIT_LYRICS":"0","RIGHTS":{"STREAM_ADS_AVAILABLE":true,"STREAM_ADS":"2000-01-01","STREAM_SUB_AVAILABLE":true,"STREAM_SUB":"2000-01-01"},"ISRC":"QMPU51504152","DATE_ADD":1781934727,"HIERARCHICAL_TITLE":"","SNG_CONTRIBUTORS":{"main_artist":["Serebro"],"composer":["\u041c.
        \u0424\u0430\u0434\u0435\u0435\u0432"],"author":["\u041c. \u0424\u0430\u0434\u0435\u0435\u0432","\u041e.\u0421\u0435\u0440\u044f\u0431\u043a\u0438\u043d\u0430"]},"LYRICS_ID":0,"EXPLICIT_TRACK_CONTENT":{"EXPLICIT_LYRICS_STATUS":2,"EXPLICIT_COVER_STATUS":2},"VARIATION":0,"__TYPE__":"song"},{"SNG_ID":"4019254021","PRODUCT_TRACK_ID":"3578149582","UPLOAD_ID":0,"SNG_TITLE":"\u042d\u041a\u0421\u041f\u041e\u041d\u0410\u0422","ART_ID":"14838507","PROVIDER_ID":"347","ART_NAME":"Mia
        Boyka","ARTIST_IS_DUMMY":false,"ARTISTS":[{"ART_ID":"14838507","ROLE_ID":"0","ARTISTS_SONGS_ORDER":"3","ART_NAME":"Mia
        Boyka","ARTIST_IS_DUMMY":false,"ART_PICTURE":"7d17ca3a29fdbd39c2cc47ac1d43a50a","RANK":"613228","LOCALES":[],"__TYPE__":"artist"}],"ALB_ID":"981904801","ALB[...]
