interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search/album?q=the+wall&index=0&limit=5
  response:
    body:
      string: '{"data":[{"id":12114248,"title":"The Wall","link":"https:\/\/www.deezer.com\/album\/12114248","cover":"https:\/\/api.deezer.com\/album\/12114248\/image","cover_small":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/2bea643b92a8fc6b19a23756f718cbd4\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/2bea643b92a8fc6b19a23756f718cbd4\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/2bea643b92a8fc6b19a23756f718cbd4\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/2bea643b92a8fc6b19a23756f718cbd4\/1000x1000-000000-80-0-0.jpg","md5_image":"2bea643b92a8fc6b19a23756f718cbd4","genre_id":152,"nb_tracks":26,"record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/12114248\/tracks","explicit_lyrics":false,"artist":{"id":860,"name":"Pink
        Floyd","link":"https:\/\/www.deezer.com\/artist\/860","picture":"https:\/\/api.deezer.com\/artist\/860\/image","picture_small":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/d62a818a5de6455f17b6a992cf22b32f\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/d62a818a5de6455f17b6a992cf22b32f\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/d62a818a5de6455f17b6a992cf22b32f\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdn-images.dzcdn.net\/images\/artist\/d62a818a5de6455f17b6a992cf22b32f\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/860\/top?limit=50","type":"artist"},"type":"album"},{"id":219344,"title":"Bringing
        Down The Horse","link":"https:\/\/www.deezer.com\/album\/219344","cover":"https:\/\/api.deezer.com\/album\/219344\/image","cover_small":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/d3fcc02ae974d3eb6ff036ba325fb1e8\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/d3fcc02ae974d3eb6ff036ba325fb1e8\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdn-images.dzcdn.net\/images\/cover\/d3fcc02a[...]
